    html {
        overflow-x: hidden;
    }

    button, input[type="button"], input[type="submit"] {
        cursor: pointer;
    }

    nav img:hover {
      cursor: pointer;
    }

    .headerButton {
      float: right;
    }

    .signup-form {
      left: 40%;
      position: relative;
    }
